.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 12.5rem;
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    position: absolute;
    z-index: 2;
  }
  
  .showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  
  .loader {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  
  .loader::before {
    content: '';
    display: block;
  }
  
  .circular {
    animation: rotate 5s linear ;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    margin: auto;
  }
  
  .path {
    animation: dash 5s ease-in-out , color 5s ease-in-out ;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 0, 1100;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: 1100, 2100;
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes color {
    0% {
      stroke: #C1FF07;
    }
    50% {
      stroke: #FF4507;
    }
    80%, 100% {
      stroke: #FFC107;
    }
  }